@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "jost",sans-serif;
  font-weight: bold;
}
*:focus{
  outline: none;
}
.box{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 5s infinite alternate-reverse both;
}
@keyframes pulse{
    0%{
      background: rgb(148, 149, 150);
    }
    25%{
      background: rgb(101, 102, 102);
    }   
    75%{
      background: rgb(76, 76, 77);
    }
    100%{
      background: rgb(34, 34, 34);
    }
}

.input_box{
  width: 25vw;
  height: 70vh;
  position: relative;
  overflow: hidden;
  background-color: aqua;
  background-size: 100% 30%;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 10px;
  border-radius: 16px;
  box-shadow: 2px 2px 15px 10px black;
}
/* .water{
  width: 357px;
  height: 19%;
  position: absolute;
  border-radius: 12px;
  background-size: 1000px 100px;
  top: 66%;
  left: 533px;
} */
.wave-one{
  position: absolute;
  border-radius: 12px;
  opacity: 0.5;
  top: 20rem;
  width: 80vw;
  height: 90vh;
  animation-delay: 0.4s;
  left: 0;
  animation: wave 3s linear  infinite alternate-reverse both;

}
@media(max-width:668px){
    .input_box{ 
      width: 70vw;
      height: 80vh;
     }
     .Not{
      position: absolute;
      float: left;
      top: 35%;
      right: 70px;
      font-size: 20px;
     }
     .cel{
      position: absolute;
      top: 60%;
      left:13%;
      z-index: 1;
      width: 50vw;
      height: 40vh;
      
    }
    .location{
      display: inline;
      position: absolute;
      top: 20%;
      left:14%;
      right: 10vw; 
    }
     .wave-one{
      position: absolute;
      border-radius: 12px;
      opacity: 0.5;
      top: 26rem;
      width: 80vw;
      height: 90vh;
      animation-delay: 0.2s;
      left: 0;
      animation: wave 3s linear  infinite alternate-reverse both;
    
    }
}

@keyframes wave{
  0%{
   
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
 }

/* .wave-one{
  position: absolute;
  width: 20%;
  height: 40vh;
  opacity: 0.6;
  border-radius: 40%;
  left:550px;
  top: 280px;
  animation: wave 30s infinite linear;
} */

.in{
  width: 200px;
  height: 50px;
  border-radius: 32px;
  font-size: 30px;
  text-align: center;

}
.location{
  display: inline;
  position: absolute;
  top: 30%;
  left:14%;
  
}
.cel{
  position: absolute;
  top: 60%;
  left:13%;
  z-index: 1;
  
}

.temp{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .wave-one{
  opacity: 0.3;
  position: absolute;
  top: 110%;
  left: 68%;
  background: white;
  width: 30rem;
  height: 20rem;
  margin-left: -30rem;
  margin-top: -25rem;
  transform-origin: 50% 48%;
  overflow: hidden;

  border-radius: 43%;
  animation: drift 3000ms infinite linear;
  z-index: 1;
}
.wave-three{
  animation: drift 5000ms infinite linear;
  opacity: 0.2;
  z-index: 2 !important;
  overflow: hidden;

}
.wave-two{
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  z-index: 3 !important;
  overflow: hidden;

}
.box:after{
  content: "";
  display: block;
  left: 30;
  top: 30;
  width: 50%;
  height: 50%;
  z-index: 4;
  transform: translate3d(0,0,0);
  overflow: hidden;
}
@keyframes drift{
  from{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
} */
.Not{
  position: absolute;
  top: 35%;
  left:25%;
  font-size: 30px;

}




/* @keyframes animate{
  0%,100%{
    clip-path: polygon(0% 45%,15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 100%, 0% 100%);
  }
  50%{
    clip-path: polygon(0% 45%,15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 100%, 0% 100%);
  }
} */
